$button-color: rgb(28, 209, 83);
$danger-color: #f0544f;
$control-color: #c79528;
$font-color: #28283d;

@mixin input-style($color) {
  background-color: $color;
  border: 1px solid darken($color, 10%);
  margin: 0.5em 0;
  outline: none;
  padding: 1em;
  width: 100%;
  &:focus {
    background-color: lighten($color, 2%);
  }
}

@mixin button-style($color) {
  @include input-style($color);
  &:hover {
    background-color: lighten($color, 5%);
  }
  &:active {
    background-color: darken($color, 5%);
  }
  &:disabled {
    background-color: lighten($color, 10%);
    border-color: $color;
    color: $color;
  }
}

@mixin box-shadow() {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

html,
body,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
input {
  color: $font-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  border-radius: 0;
  color: $font-color;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
}

option {
  padding: 1em;
}

input {
  @include input-style(white);
}

button,
input[type='submit'] {
  @include button-style($button-color);
  &.danger {
    @include button-style($danger-color);
  }
}

.Application {
  h1 {
    @include box-shadow();
    padding: 1em;
    border: 1px solid $control-color;
    text-align: center;
    color: lighten($font-color, 10%);
  }
  margin: 0.5em auto;
  max-width: 800px;

  main {
    display: flex;
  }
}

.sidebar {
  width: 100%;
  flex: 1;
}

.CharacterView {
  padding: 0 2em;
  flex: 3;
  width: 100%;
}

.CharacterListItem {
  padding: 0.5em;
}

.CharacterListItemLink {
  color: black;
  text-decoration: none;
  border: 1px solid $button-color;
  display: block;
  padding: 1em;
  &.active {
    background-color: lighten($button-color, 30%);
  }
}

.CharacterDetails {
  list-style: none;
  padding: 0;
  li {
    padding: 1em;
  }
}
