$color-green: rgb(28, 209, 83);
$danger-color: #f0544f;
$control-color: #c79528;
$font-color: #28283d;
$color-yellow: hsl(52, 85%, 57%);
$color-red: #fa2518;

@mixin input-style($color) {
  background-color: $color;
  border: 1px solid darken($color, 10%);
  margin: 0.5em 0;
  outline: none;
  padding: 1em;
  width: 100%;
  &:focus {
    background-color: lighten($color, 2%);
  }
}

@mixin button-style($color) {
  @include input-style($color);
  &:hover {
    background-color: lighten($color, 5%);
  }
  &:active {
    background-color: darken($color, 5%);
  }
  &:disabled {
    background-color: lighten($color, 10%);
    border-color: $color;
    color: $color;
  }
}

@mixin box-shadow() {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

@keyframes animation-header {
  0% {
    transform: scale(0);
    color: transparent; 
  }
  60% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
    color: $color-yellow;
  }
}

html,
body,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 90vh;
  background: radial-gradient(circle, rgb(0, 0, 0) 15%, hsl(240, 46%, 8%) );
}

body,
input {
  color: $font-color;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select {
  border-radius: 0;
  color: $font-color;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
}

option {
  padding: 1em;
}

input {
  @include input-style(white);
}

button,
input[type='submit'] {
  @include button-style($color-green);
  &.danger {
    @include button-style($danger-color);
  }
}

.Application {
  z-index: 100;
  h1 {
    @include box-shadow();
    padding: 1em;
    text-align: center;
    color: $color-yellow;
    &.header {
      padding: 0;
      font-size: 4em;
      animation: .6s animation-header ease-out; 
    }
  }
  margin: 0.5em auto;
  max-width: 800px;

  main {
    display: flex;
  }
}

.sidebar {
  width: 100%;
  flex: 1;
}

.CharacterView {
  padding: 0 2em;
  flex: 3;
  width: 100%;
}

.CharacterListItem {
  padding: 0.5em;
}

.CharacterListItemLink {
  color: $color-green;
  text-decoration: none;
  border: 1px solid $color-green;
  display: block;
  padding: 1em;
  transition: all 200ms;
  animation: 1500ms animation-glitch;

  &:hover{
    background: rgba($color-green, .1);
  }
  &.active {
    background-color: lighten($color-green, 2%);
    letter-spacing: .04em;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    transition: all 150ms;
  }
}

.CharacterDetails {
  list-style: none;
  padding: 0;
  li {
    padding: 1em;
  }
}

.loading {
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
  color:#28283d;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-red;
  p {
    margin-left: .4em;
    color: rgba($color-red, .8)
  }
}

.stars {
  z-index: -1;
}

@keyframes animation-glitch {
  0% {
   -webkit-transform:translateZ(0) rotate(-2deg);
   transform:translateZ(0) rotate(-2deg);
   -webkit-clip-path:polygon(0 2%,100% 2%,100% 5%,0 5%);
   clip-path:polygon(0 2%,100% 2%,100% 5%,0 5%)
  }
  2% {
   -webkit-clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
   clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
   -webkit-transform:translate(-5px) rotate(33deg);
   transform:translate(-5px) rotate(33deg)
  }
  6% {
    -webkit-clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
    clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
    -webkit-transform:translate(5px) rotate(-40deg);
    transform:translate(5px) rotate(-40deg)
  }
  8% {
    -webkit-clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
    clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
    -webkit-transform:translate(-5px) rotate(20deg);
    transform:translate(-5px) rotate(20deg)
  }
  9% {
   -webkit-clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
   clip-path:polygon(0 78%,100% 78%,100% 100%,0 100%);
   -webkit-transform:translate(0) rotate(-5deg);
   transform:translate(0) rotate(-5deg)
  }
  10% {
    -webkit-clip-path:polygon(0 54%,100% 54%,100% 44%,0 44%);
    clip-path:polygon(0 54%,100% 54%,100% 44%,0 44%);
    -webkit-transform:translate3d(5px,0,0) rotate(-2deg);
    transform:translate3d(5px,0,0) rotate(-2deg)
  }
  13% {
   -webkit-clip-path:polygon(0 54%,100% 54%,100% 44%,0 44%);
   clip-path:polygon(0 54%,100% 54%,100% 44%,0 44%);
   -webkit-transform:translateZ(0) rotate(-12deg);
   transform:translateZ(0) rotate(-12deg)
  }
  13.1% {
    -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
    clip-path:polygon(0 0,0 0,0 0,0 0);
    -webkit-transform:translate3d(5px,0,0) rotate(-32deg);
    transform:translate3d(5px,0,0) rotate(-32deg)
  }
  15% {
    -webkit-clip-path:polygon(0 60%,100% 60%,100% 40%,0 40%);
    clip-path:polygon(0 60%,100% 60%,100% 40%,0 40%);
    -webkit-transform:translate3d(5px,0,0) rotate(-21deg);
    transform:translate3d(5px,0,0) rotate(-21deg)
  }
  20% {
    -webkit-clip-path:polygon(0 60%,100% 60%,100% 40%,0 40%);
    clip-path:polygon(0 60%,100% 60%,100% 40%,0 40%);
    -webkit-transform:translate3d(-5px,0,0) rotate(-12deg);
    transform:translate3d(-5px,0,0) rotate(-12deg)
  }
  20.1% {
   -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
   clip-path:polygon(0 0,0 0,0 0,0 0);
   -webkit-transform:translate3d(5px,0,0) rotate(-10deg);
   transform:translate3d(5px,0,0) rotate(-10deg)
  }
  25% {
   -webkit-clip-path:polygon(0 85%,100% 85%,100% 40%,0 40%);
   clip-path:polygon(0 85%,100% 85%,100% 40%,0 40%);
   -webkit-transform:translate3d(5px,0,0) rotate(5deg);
   transform:translate3d(5px,0,0) rotate(5deg)
  }
  30% {
   -webkit-clip-path:polygon(0 85%,100% 85%,100% 40%,0 40%);
   clip-path:polygon(0 85%,100% 85%,100% 40%,0 40%);
   -webkit-transform:translate3d(-5px,0,0) rotate(-7deg);
   transform:translate3d(-5px,0,0) rotate(-7deg)
  }
  30.1% {
   -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
   clip-path:polygon(0 0,0 0,0 0,0 0) rotate(-2deg)
  }
  35% {
   -webkit-clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
   clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
   -webkit-transform:translate(-5px) rotate(-2deg);
   transform:translate(-5px) rotate(-2deg)
  }
  40% {
   -webkit-clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
   clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
   -webkit-transform:translate(5px) rotate(-2deg);
   transform:translate(5px) rotate(-2deg)
  }
  45% {
   -webkit-clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
   clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
   -webkit-transform:translate(-5px) rotate(-2deg);
   transform:translate(-5px) rotate(-2deg)
  }
  50% {
   -webkit-clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
   clip-path:polygon(0 63%,100% 63%,100% 80%,0 80%);
   -webkit-transform:translate(0) rotate(-2deg);
   transform:translate(0) rotate(-2deg)
  }
  55% {
   -webkit-clip-path:polygon(0 10%,100% 10%,100% 0,0 0);
   clip-path:polygon(0 10%,100% 10%,100% 0,0 0);
   -webkit-transform:translate3d(5px,0,0) rotate(-2deg);
   transform:translate3d(5px,0,0) rotate(-2deg)
  }
  60% {
   -webkit-clip-path:polygon(0 10%,100% 10%,100% 0,0 0);
   clip-path:polygon(0 10%,100% 10%,100% 0,0 0);
   -webkit-transform:translateZ(0) rotate(-2deg);
   transform:translateZ(0) rotate(-2deg);
   opacity:1
  }
  60.1% {
   -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
   clip-path:polygon(0 0,0 0,0 0,0 0) rotate(-2deg);
   opacity:1
  }
  to {
   -webkit-clip-path:polygon(0 0,0 0,0 0,0 0);
   clip-path:polygon(0 0,0 0,0 0,0 0) rotate(-2deg);
   opacity:1
  }
 }
